<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>ex02</title>
</head>
<body>
  <h1>ホテル検索</h1>
  <form action="ex02-form.html" th:action="@{/ex02/search}" method="get" th:object="${hotelForm}">
    <span class="error" th:errors="*{price}"></span><br>
    <input type="number" name="price" th:field="*{price}">円以下<br>
    <button type="submit">検索</button>
  </form>
  <div th:if="!${#lists.isEmpty(hotelList)}">
    <table th:each="hotel : ${hotelList}" border="1">
	    <tbody>
	      <tr class="odd">
	        <td class="h">ホテル名</td>
	        <td class="item" th:text="${hotel.hotelName}">dummy</td>
	      </tr>
	      <tr class="even">
	        <td class="h">最寄駅</td>
	        <td th:text="${hotel.nearestStation}">dummy</td>
	      </tr>
	      <tr class="odd">
	        <td class="h">価格</td>
	        <td th:text="${#numbers.formatInteger(hotel.price, 1 , 'COMMA')}">dummy</td>
	      </tr>
	    </tbody>
    </table>
  </div>
  <div th:unless="!${#lists.isEmpty(hotelList)}">
    <span th:text="一致するホテル情報が存在しませんでした"></span>
  </div>
</body>
</html>