<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<title>ex02</title>
</head>
<body>
  <h1>ホテル検索</h1>
  <form action="ex03-form.html" th:action="@{/ex03/search}" method="get" th:object="${clothForm}">
    <div class="d-flex">
	    <div>
		    <span class="error" th:errors="*{gender}"></span><br>
		    <input id="man" type="radio" name="gender" value="0" th:field="*{gender}" checked>
		    <label for="man">Man</label><br>
		    <input id="woman" type="radio" name="gender" value="1" th:field="*{gender}">
		    <label for="woman">Woman</label>
	    </div>
	    <div>
		    <span class="error" th:errors="*{color}"></span><br>
		    <select name="color" th:field="*{color}">
		      <option value="赤" selected>赤</option>
		      <option value="青">青</option>
		      <option value="白">白</option>
		      <option value="黄">黄</option>
		    </select>  
	    </div>
    </div>
    <button type="submit">検索</button>
  </form>
  <div th:if="!${#lists.isEmpty(clothList)}">
    <table th:each="cloth : ${clothList}" border="1">
      <tbody class="cloth">
        <tr class="odd">
          <td class="h">ジャンル</td>
          <td class="item" th:text="${cloth.genre}">dummy</td>
        </tr>
        <tr class="even">
          <td class="h">サイズ</td>
          <td th:text="${cloth.size}">dummy</td>
        </tr>
        <tr class="odd">
          <td class="h">価格</td>
          <td th:text="${#numbers.formatInteger(cloth.price, 1 , 'COMMA')}">dummy</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:unless="!${#lists.isEmpty(clothList)} or ${clothList} == null">
    <span th:text="一致する衣類情報が存在しませんでした"></span>
  </div>
</body>
</html>